.info-box{
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.top-icon{
	min-height: 7vh;
}

.chi{
	height: 120px;
}

.title-bar{
	min-height: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	width: 70vw;
	margin-left: 5vw;
}

.rankings-area{
	background-color:#e3e8e3; 
	height: 100%;
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
	overflow-x: scroll;
}


.top-icon{
	float: left;
}
.title{
	font-size: 7vh;
	padding-top: 4vh;
	text-align: center;
}
.chih{
	text-align: right;
	padding-right: 10vw;
}
@media only screen and (max-width: 768px) {
	.ranking-item{
		
	}
	.icon{
		
	}
	.title{
		padding-top: 0;

	}
	.ibox{
		text-align: center;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}